[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.1"
channels = "*"
django-allauth = "~=0.51"
django-crispy-forms = "~=1.14"
django-debug-toolbar = "~=3.6"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
